.lala {
    background-color: red
}

.card-login {
    left: 30%;
    width: 35%;
}

.card-header-login {
    padding: 0.1em;
    font-size: 2em;
    color: cornflowerblue
}

.card-content {
    background-color: seashell;
    padding: 1em;
    padding-left: 3em; 
    padding-right: 3em; 
}

.card-image-logo {
	background: url(./img/signin-logo.jpg) no-repeat;
    background-size: 100%;
    background-position: top right;
	height: 100%;
    padding: 100px;
	height: 100%;
}

.card-footer-button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 3em;
    margin-left: 3em;
    width: 100%;
}
